@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.offer-section {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: 100%;
  box-sizing: border-box;
}

.offer-text {
  color: #4b2e16 !important; /* dark brown */
  font-family: "Poppins", sans-serif  !important;
}

.offer-text h4 {
  font-size: 20px !important;
  margin: 0 !important;
  font-weight: normal !important;
  letter-spacing: 1px !important;
}

.offer-text h1 {
  font-size: 70px !important;
  line-height: 1.1 !important;
  margin: 10px 0 !important;
}

.zebra-icon {
  width: 300px !important;
  height: auto !important;
}

@media (max-width: 768px) {
  .offer-section {
    flex-direction: column !important;
    text-align: center !important;
  }

  .zebra-icon {
    margin-top: 20px;
    width: 200px;
  }
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #FAF6F0;
  font-family: "Poppins", sans-serif !important;
}

.css-19kzrtu {
  padding-right: 0 !important;
  padding-left: 0 !important;
  padding-top: 0 !important;
}
